.site-logo {
    max-width: 200px;
}
a.nav-link.downoad-btn {
    position: absolute;
    right: 15px;
    border: 1px solid #ddd;
    background: #4491cd;
    color: #fff !important;
}
a.nav-link.search-option {
    cursor: pointer;
}
@media (min-width: 576px){
    .form-inline .form-control {
        width: 400px !important;
    }
}
.navbar-nav .btn-outline-success {
    color: #ffffff;
    border-color: #4491cd;
    border-radius: 0;
    background: #4491cd;
}
.navbar-nav .form-inline .form-control {
    border-radius: 0px;
}
.search-option {
    margin-left: 20px;
    border: 1px solid #ddd;
    padding: 7px 15px !important;
}
.navbar-nav i.fa.fa-angle-down {
    padding: 0px 0px 0px 10px;
}
.navbar-nav span.searchicon {
    position: absolute;
    right: 10px;
}
.search-form{
    position:relative;
}
i.fa.fa-search {
    color: #bfbfbf;
}
.navbar-nav span.download-icon {
    padding: 3px 10px;
    border: 3px solid #fff;
    border-radius: 33px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: #4491cd;
    top: -5px;
    left: -40px;
    font-size: 24px;
}
.navbar-nav a.nav-link.downoad-btn {
    width: 130px;
    text-align: center;
}
.container {
    max-width: 1280px;
}
.main-wrapper {
    background: #dbdbdb;
}