@media (min-width: 1200px){
    .container{
        max-width: 1320px;
    }
}
.main-wrapper {
    background: #f7f7f7;
}
.App {
    text-align: left;
}
.comany-records li {
    display: inline-block;
}
.comany-records li {
    display: inline-block;
    padding: 10px 20px 10px 0px;
    position: relative;
}
.comany-records span {
    padding-right: 10px;
    color: #c1c1c1;
}
.comany-records li:last-child {
    padding-left: 20px;
}
.comany-records li:first-child::before {
    content: '|';
    position: absolute;
    right: 0;
    color: #909090;
}
span.records-no {
    color: #4491cd;
}
.company-list {
    display: flex;
}
li.comapany-lists .element {
    width: 33%;
    display: inline-block;
}
ul.top-ul {
    width: 100%;
    list-style: none;
    margin-right: 15px;
}
.bottom-list ul {
    padding: 0px;
    list-style: none;
}
.bottom-list li {
    display: inline-block;    
    width: 45%;
    padding: 0px 10px 0 0px;
    list-style: none;
}
.first.element h4 {
    font-size: 16px;
    color: #4491cd;
    margin-bottom: 0px;
    text-transform: uppercase;
}
li.comapany-lists {
    padding: 10px;    
    border-left: 5px solid #1e73be;
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
}
li.comapany-lists:hover{
    background: #e7f2f4;
}
li.country-name::before {
    content: '|';
    position: absolute;
    right: 0;
    color: #909090;
}
li.country-name{
    position: relative;
}
li.website-name {
    padding-left: 10px;
    color: #4491cd;
}
.second.element .group-icon,.third.element .group-icon{
    padding-right: 8px;
}
.main-wrapper {
    width: 75%;
    float: left;
    z-index: -1;
    position: relative;
}