.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup_inner {  
    position: absolute;
    left: 5%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    min-height: 400px;
    padding: 10px;
    width: 90%;
    height: 90%;
    overflow: auto;
  }
  .close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0px;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  .popup-header::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #ddd;
    width: 100%;
    top: 40px;
    left: 0;
}
.popup-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.popup-footer::before{
    content: '';
    position: absolute;
    border-top: 1px solid #ddd;
    width: 100%;
    bottom: 45px;
    left: -5px;
}
.w3-sidebar.w3-bar-block {
    width: 20%;
}
.w3-sidebar.w3-bar-block a {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    white-space: normal;
    float: none;
    outline: 0;
    border: 1px solid #ddd;
    color: #101010;
}
.w3-sidebar.w3-bar-block {
    width: 20%;
    margin-top: 6px;
}
.filter-body {
    margin-top: 20px;
}
.filter-body li {
    margin-bottom: 7px;
}
.filter-body h6{
    margin-bottom: 20px;
}

.footer-button {
    float: right;
    padding: 5px;
}
.footer-button .button {
    margin: 0px 15px 0 15px;
    background: #4491cd;
    border: 1px solid #4491cd;
    padding: 3px 15px;
    color: #fff;
}