.sidebar {
    width: 25%;
    float: left;
    background: #fbfbfb;
    padding: 10px;
    position: relative;
    z-index: -1;
}
ul,li{
list-style: none;

}
ul{
    padding-left: 10px;
}
.sidebar-conatct li {
    padding: 5px;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    border-left: 5px solid #4491cd;
}
.sidebar-conatct ul{
    padding-left: 0px;
}

.sidebar-records li {
    display: inline-block;
    padding: 5px 10px 5px 0px;
    color: #000;
}
.sidebar-records ul {
    padding: 0px;
}
.sidebar-records .active {
    background: #e7f2f4;
    border-top: 2px solid #4491cd;
}
span.searchicon {
    position: absolute;
    right: 5px;
}
.sidebar-search {
    position: relative;
    margin-bottom: 10px;
}
.profile-icon {
    width: 20%;
    display: inline-block;
}
.profile-info {
    width: 80%;
    display: inline-block;
}
.fa-user-circle:before {
    font-size: 36px;
    color: #ddd;
}
.linkedin-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 2px 5px;
    background: #4491cd;
    color: #fff;
    font-size: 10px;
}
.profile-info h6 {
    font-size: 14px;
    margin-bottom: 2px;
}
.profile-info div {
    font-size: 12px;
}
span.pro-ico {
    padding-right: 5px;
    color: #c1c1c1;
}
span.user-ico {
    position: absolute;
    top: 30%;
}
.sidebar-records li:last-child {
    padding-left: 10px;
}
body {
    color: #a5a5a5;
}
h1,h2,h3,h4,h5,h6{
    color: #000;
}